html{
  background-image: url(background-pic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  text-align:center;
    font-size:40px;
    color:rgb(9, 87, 189)
}
    h2{text-align:center;
      font-size:40px;
      color:rgb(9, 87, 189)
    }
    h3{text-align:center;
      font-size:40px;
      color:rgb(9, 87, 189)
    }
    
p{
  font-size: 24px;
  text-indent: 20px
  
}
p2{
  font-size: 40px
}
p3{
  font-size:40px
}
h4{
  text-align:center;
  font-size: 40px;
  color:rgb(9, 87, 189)
  
}
.navBar{
  display:flex;
  justify-content: space-around;
  align-content: center;
 width: 600px;
}
img{
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
